.header{
    background-color: white;
    top: 0px;
    position: sticky;
    width: 100vw;
    height: 52px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
}

input{
    outline: none;
}

.body{
    min-height: 500px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.infinite_scroll{
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.sideBar{
    margin: 16px;
    display: flex;
    flex-direction: column
}

.SideItem {
    width: 296px;
    height: 224px;
    color: white;
    background-color: purple;
}

.photo{
    width: 616px;
    min-height: 600px;
    background-color: grey;
}