.header{
    background-color: white;
    top: 0px;
    position: sticky;
    width: 100vw;
    max-width: 100%;
    height: 52px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
}

input{
    outline: none;
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
}
.infinite_scroll{
    max-width: 100%;
    width: 616px;
    margin: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sideBar{
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sideItem {
    width: 296px;
    height: 224px;
    color: white;
    background-color: purple;
}

img{
    margin: 5px;
    width: 95%;
}

@media only screen and (max-width: 585px){
    .container{
        background-color: blue;
        flex-direction: column-reverse;
    }

    .sideItem{
        width: 100%;
    }

    img{
        margin: auto;
    }
}